<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
        body {
            background-color: #222222;
            text-align: center;
            color: #d6d6d6;
            line-height: 1.4;
        }
        .successText {
            margin-top:4rem; 
        }
    </style>
</head>

<body>
    <div class="successText">
        <i class="fa-solid fa-check fa-bounce fa-2xl" style="margin-bottom:2rem; color:#00a800;"></i>
        <h1>¡Su mensaje se ha enviado correctamente!</h1>
    </div>
    <script src="https://kit.fontawesome.com/6862a89a44.js" crossorigin="anonymous"></script>
</body>
</html>